<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th colspan="4">Personal Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Student Number</td>
            <td>2015077820</td>
            <td rowspan="6" colspan="2">
              <img src="assets/img/avatars/usericon.png" class="img-thumbnail" alt="Responsive image" width="200"
                height="200">
            </td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>SIAZON</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>RONELLE CLAUDE</td>
          </tr>
          <tr>
            <td>Middle Name</td>
            <td>MUSNGI</td>
          </tr>
          <tr>
            <td>Auxiliary Name</td>
            <td> - </td>
          </tr>
          <tr>
            <td>Birth Date</td>
            <td> 07-NOV-1994</td>
          </tr>
          <tr>
            <td width="12%">Birth Place</td>
            <td width="40%"> LOPEZ, QUEZON</td>
            <td width="12%">Nationality</td>
            <td width="36%"> FILIPINO</td>
          </tr>
          <tr>
            <td class="sub_header">Gender</td>
            <td class="sub_content"> F </td>
            <td class="sub_header">Legal Status</td>
            <td class="sub_content"> CITIZEN OF RP </td>
          </tr>
          <tr>
            <td class="sub_header">Religion</td>
            <td class="sub_content"> R. CATHOLIC </td>
            <td class="sub_header">Baptized In</td>
            <td class="sub_content"> ST. PETER PAROCHIAL CHURCH BOR </td>
          </tr>
          <tr>
            <td class="sub_header">Address Line 1</td>
            <td class="sub_content"> 444 SANTOL </td>
            <td class="sub_header">Postal Code</td>
            <td class="sub_content"> 3016 </td>
          </tr>
          <tr>
            <td class="sub_header">Address Line 2</td>
            <td class="sub_detail"> BALAGTAS, BULACAN </td>
            <td class="sub_header">Employer's Tel. No.</td>
            <td class="sub_detail"> - </td>
          </tr>
          <tr>
            <td class="sub_header">Civil Status</td>
            <td class="sub_content"> SINGLE </td>
            <td class="sub_header">Working Status</td>
            <td class="sub_content"> NON-WORKING </td>
          </tr>
          <tr>
            <td class="sub_header">ACR No.</td>
            <td class="sub_content"> - </td>
            <td class="sub_header"></td>
            <td class="sub_content"></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th colspan="4">College / Course Information</th>
          </tr>
        </thead>
        <tr>
          <td width="20%" class="text-center">Course</td>
          <td width="28%" class="text-center">Degree</td>
          <td width="33%" class="text-center">College</td>
          <td width="19%" class="text-center">Status</td>
        </tr>
        <tr>
          <td class="sub_content">NURSING</td>
          <td class="sub_content">BACHELOR OF SCIENCE IN NURSING</td>
          <td class="sub_content">COLLEGE OF NURSING</td>
          <td class="sub_content">On-going</td>
        </tr>
        <tr>
          <td class="sub_content">TRAVEL MANAGEMENT</td>
          <td class="sub_content">BACHELOR OF SCIENCE IN TRAVEL MANAGEMENT</td>
          <td class="sub_content">COLLEGE OF TOURISM AND HOSPITALITY MANAGEMENT</td>
          <td class="sub_content">Discontinued</td>
        </tr>
      </table>
      <table class="table table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th colspan="4">Parents / Guardian Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="10%" class="sub_header">Father</td>
            <td width="40%" class="sub_content">ALLANGER ARELLANO CAYANAN </td>
            <td width="10%" class="sub_header">Guardian</td>
            <td width="40%" class="sub_content"> - </td>
          </tr>
          <tr>
            <td class="sub_header">Mother</td>
            <td class="sub_content">LILIBETH JAVIER CAYANAN </td>
            <td class="sub_header">Address</td>
            <td class="sub_content">- </td>
          </tr>
          <tr>
            <td class="sub_header">Address</td>
            <td class="sub_content">#444 SANTOL, BALAGTAS, BULACAN 3016</td>
            <td class="sub_header">Phone(Home)</td>
            <td class="sub_content">-</td>
          </tr>
          <tr>
            <td class="sub_header">Contact No.</td>
            <td class="sub_content">09178222862</td>
            <td class="sub_header">Phone(Work)</td>
            <td class="sub_content">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>