<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4>Balance Dues</h4>
      <div class="table-responsive-sm">
        <table class="table table-sm table-bordered">
          <tbody>
            <tr>
              <td width="50%" class="sub_header">Payment Terms</td>
              <td width="50%" class="sub_content">Full</td>
            </tr>
            <tr>
              <td class="sub_header">Mode of Payment</td>
              <td class="sub_content">Cash</td>
            </tr>
            <tr>
              <td class="sub_header">Year Level</td>
              <td class="sub_content">3</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-sm table-bordered">
          <thead class="thead-dark">
            <tr>
              <th width="20%">Transaction Date</th>
              <th width="20%">Transaction Type</th>
              <th width="15%">Debit</th>
              <th width="15%">Credit</th>
              <th width="15%">Balance</th>
              <th width="15%">Reference</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>-</td>
              <td>BEG BAL</td>
              <td class="text-right"> .00</td>
              <td class="text-right">-</td>
              <td class="text-right"> .00 </td>
              <td>-</td>
            </tr>
            <tr class="odd">
              <td>2019-01-11</td>
              <td>ENROL</td>
              <td class="text-right"> 81,175.00</td>
              <td class="text-right">-</td>
              <td class="text-right"> 81,175.00 </td>
              <td>-</td>
            </tr>
            <tr>
              <td>2019-01-14</td>
              <td>PAY</td>
              <td class="text-right">-</td>
              <td class="text-right"> 81,175.00</td>
              <td class="text-right"> .00 </td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>