<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h6>1st Year, 1st Semester</h6>
      <div class="table-responsive-sm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th width="10%">Subject</th>
              <th width="35%" class="text-center">Description</th>
              <th width="5%" class="text-center">Lec</th>
              <th width="5%" class="text-center">Lab</th>
              <th width="45%" class="text-center">Pre-Requisite</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h6>1st Year, 2nd Semester</h6>
      <div class="table-responsive-sm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th width="10%">Subject</th>
              <th width="35%" class="text-center">Description</th>
              <th width="5%" class="text-center">Lec</th>
              <th width="5%" class="text-center">Lab</th>
              <th width="45%" class="text-center">Pre-Requisite</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h6>2nd Year, 1s Semester</h6>
      <div class="table-responsive-sm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th width="10%">Subject</th>
              <th width="35%" class="text-center">Description</th>
              <th width="5%" class="text-center">Lec</th>
              <th width="5%" class="text-center">Lab</th>
              <th width="45%" class="text-center">Pre-Requisite</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h6>2nd Year, 2nd Semester</h6>
      <div class="table-responsive-sm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th width="10%">Subject</th>
              <th width="35%" class="text-center">Description</th>
              <th width="5%" class="text-center">Lec</th>
              <th width="5%" class="text-center">Lab</th>
              <th width="45%" class="text-center">Pre-Requisite</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h6>3rd Year, 1st Semester</h6>
      <div class="table-responsive-sm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th width="10%">Subject</th>
              <th width="35%" class="text-center">Description</th>
              <th width="5%" class="text-center">Lec</th>
              <th width="5%" class="text-center">Lab</th>
              <th width="45%" class="text-center">Pre-Requisite</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h6>3rd Year, 2nd Semester</h6>
      <div class="table-responsive-sm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th width="10%">Subject</th>
              <th width="35%" class="text-center">Description</th>
              <th width="5%" class="text-center">Lec</th>
              <th width="5%" class="text-center">Lab</th>
              <th width="45%" class="text-center">Pre-Requisite</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
            <tr>
              <td>CS101</td>
              <td>Computer Programming 1</td>
              <td class="text-center">1</td>
              <td class="text-center">2</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>