<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4>My Grades</h4>
      <select class="form-control form-control-sm col-sm-2" style="margin-bottom: 15px;">
        <option value="0">2018-19, 2nd Semester</option>
        <option value="1">2018-19, 1st Semester</option>
        <option value="2">2017-18, 2nd Semester</option>
        <option value="3">2017-18, 1st Semester</option>
      </select>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Subject Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Lec Units</th>
            <th class="text-center">Lab Units</th>
            <th class="text-center">Prelims</th>
            <th class="text-center">Midterms</th>
            <th class="text-center">Finals</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CS101</td>
            <td>Computer Programming 1</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
            <td class="text-center">3.0</td>
            <td class="text-center">2.0</td>
            <td class="text-center">1.25</td>
          </tr>
          <tr>
            <td>CS102</td>
            <td>Graphics Design 1</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
            <td class="text-center">3.0</td>
            <td class="text-center">2.0</td>
            <td class="text-center">1.25</td>
          </tr>
          <tr>
            <td>CS103</td>
            <td>Computer Fundamentals</td>
            <td class="text-center">1</td>
            <td class="text-center">2</td>
            <td class="text-center">3.0</td>
            <td class="text-center">2.0</td>
            <td class="text-center">1.25</td>
          </tr>
        </tbody>
        <tfoot>
          <th colspan="7" class="text-right">Semestral Ave: 2.10</th>
        </tfoot>
      </table>
    </div>
  </div>
</div>